/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
.idea/
*.iml
node_modules/
resources/build/
resources/secrets/
/resources/public/js
/resources/public/css
/public/js/out