.region-map {
  display: flex;
  flex-direction: column;

  .regions {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.inline-detail {
  padding-left: 1em;

  &.selectable {
    label {
      cursor: pointer;
      font-weight: 700;
    }
  }

  &.selected {
    background: $white-ter;
  }
}