* {
    padding: 0;
    margin: 0;
}

body {
    background: white;
    color: #1c1c1c;
}

.container {
    margin: 0 auto;
    max-width: 900px;
}

.btn {
    font-size: 1.2em;

    padding: 0.5em;
    background: #eaeaea;
    border: 2px solid #aaaaaa;
    border-radius: 8px;
    outline: none;
}